@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
  width: 1100px;
  margin: auto;
  color: #3B929C;
  font-family: "Nunito", sans-serif;
}

.container-busca {

  display: flex;
  margin: 50px auto;
  border: 2px solid #3B929C;
  border-radius: 20px;
  width: 764px;
  height: 40px;
  padding: 5px;
}

.campo-busca{
  border: none; 
  flex: 1;
  outline: none;
}

.botao-busca {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #3B929C;
} 


.catalogo-bordados {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
} 


.item-bordado:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}


h2{
  text-align: center;
  margin-top:50px;
  font-size: 40px ;
}